#bgi {
    background-image: url(https://static.hiamag.com/styles/autox754/public/article/31/05/2021/10587736-515365607.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    background-image: url(https://arabic.people.com.cn/NMediaFile/2015/1104/FOREIGN201511041543000125195228467.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}